@import './iconfont.css';

html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.el-table {
  font-size: 12px !important;
}

.el-main {
  min-width: 1200px;
}

.el-breadcrumb {
  margin-bottom: 20px;
}

.el-pagination {
  margin-top: 10px;
}